@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You have no privacy ehehehehehhe!!!!</p>
<img src="https://media.tenor.com/NZGggjysqjwAAAAM/hehe-not-hehe.gif" alt="Hehe kitty">
